@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(./Header.css);
@import url(./Fullpage.css);
@import url(./Darkmode.css);
@import url(./Footer.css);
@import url(./Responsive.css);
@import url(./Contributor.css);
@import url(./404.css);

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}
.App {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden !important;
  background: #f5effc;
  transition: 0.5s !important;
  transition: background 1s ease-out;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorCont {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 50px;
  height: 100%;
  flex-wrap: wrap;
}
.gradient {
  background: #fff;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.1);
  padding: 15px;
  margin: 10px;
  z-index: 1;
  transition: 0.5s !important;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
}
.gradientPriview .MuiSvgIcon-root {
  font-size: 18px !important;
  margin-right: 5px;
  margin-bottom: -2px;
}
.gradient a {
  color: #fff;
  text-decoration: none;
}
.gradient a:hover {
  text-decoration: underline;
}
.gradientPriview h4 {
  font-weight: 400;
}
.gradient:hover {
  box-shadow: 0 21px 36px 0 rgba(0, 64, 128, 0.3);
}
.gradientPriview {
  height: 200px;
  width: 280px;
  border-radius: 5px;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10px;
  cursor: pointer;
}
.bottom {
  width: 280px;
  color: #000;
  justify-content: space-between;
}
.bottom h5 {
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 3px;
  cursor: pointer;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #aaa;
}
.allColors {
  height: 100%;
  justify-content: flex-start;
  flex-direction: row-reverse;
  max-width: 225px;
  overflow: hidden;
}
.gradient .MuiButton-contained {
  margin-top: 7.5px !important;
  margin-right: -17.5px !important;
  padding: 8px 10px !important;
  background: none !important;
  border: 1px solid #ddd !important;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.4) !important;
}
.btn:hover {
  box-shadow: 0 21px 36px 0 rgba(0, 64, 128, 0.3);
  border: 1px solid #ccc !important;
}

::selection {
  background: #4b0082;
  color: #fff;
}
.gradientGenerator {
  padding: 15px;
  height: 100vh;
}
.gradientCont {
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
  border-radius: 10px;
}
.demoImage {
  max-height: 450px;
  width: 450px;
  margin-bottom: 10px;
}
.cont {
  width: 100%;
}
.palatte {
  padding-bottom: 20px;
}
.palatte h4 {
  font-weight: 600;
  cursor: pointer;
  margin: 5px 5px;
}
input[type="file"] {
  display: none;
}
.uploadImage {
  color: #000;
  padding: 8px 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
  transition: 0.5s;
}
.uploadImage:hover {
  border: 1px solid #aaa;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.8);
}
.cont {
  justify-content: flex-start;
}
.gradientGenerator .copybtn {
  border: 1px solid #ccc !important;
  padding: 8px !important;
  margin-top: -1px !important;
  margin-left: 5px !important;
  transition: 0.5s !important;
}
.copybtn:hover {
  border: 1px solid #aaa !important;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.8) !important;
}
