.contributors {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  flex-wrap: wrap;
  align-items: flex-start !important;
}
.contributor {
  background: #fff;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 15px 47px 0 #e9e7ef;
  border-radius: 5px;
  border: 1px solid #eee;
  text-align: center;
}
.contributor img {
  height: 225px;
  border-radius: 5px;
}
.contributors a {
  color: #333;
  text-decoration: none;
}
.githubUser p {
  margin-left: 5px;
}
.contributor .MuiSvgIcon-root {
  font-size: 18px !important;
}
