.dark {
  background: #333;
}
.dark .footer {
  color: #fff !important;
}
.dark .contributor {
  background: #222;
  color: #fff !important;
  box-shadow: 0 15px 47px 0 #4444;
  border: 1px solid #444;
}
.dark .githubUser {
  color: #fff !important;
}
.dark .footer .MuiSvgIcon-root {
  color: #fff !important;
}
.dark .App {
  background: #333;
}
.dark .header {
  background: #222;
}
.dark .gradient {
  background: #222;
  border: 1px solid #444;
}
.dark .bottom .MuiSvgIcon-root {
  color: #eee;
}
.dark .gradient .MuiButton-contained {
  border: 1px solid #444 !important;
  background: #181717da !important;
}
.dark .header .MuiSvgIcon-root {
  color: #eee !important;
}
.dark .input {
  background: #333 !important;
  color: #fff !important;
  border: 1px solid #666;
}
.dark .gradientGeneratorMain {
  background: #333;
}
.dark .uploadImage {
  border: 1px solid #444 !important;
  background: #181717da !important;
  color: #fff !important;
}
.dark .gradientGenerator .MuiSvgIcon-root {
  color: #fff;
}
.dark .fullpage {
  background: #333;
}
.dark textarea,
.dark .fullpage__bottom .MuiButtonBase-root {
  background: #222 !important;
  color: #fff !important;
  border: 1px solid #666;
}
.dark .ghicon {
  color: #aaa;
}
.dark .notFound {
  background: linear-gradient(135deg, #111, #111 50%, #333 50%, #333);
  color: #eee;
}
.dark .profile img {
  border: 1px solid #555;
}
.dark .profile {
  background: #333;
  border: 1px solid #444;
}
.dark .profile .MuiButtonBase-root {
  color: #fff !important;
}
