.footer {
  padding: 10px;
  font-weight: 500;
  justify-content: space-between;
  width: 100%;
}
.footer a {
  background: linear-gradient(-45deg, #4776e6, #8e54e9);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  margin-left: 3px;
}
.footer_buttons {
  margin-right: 40px;
}
