.fullpage {
  height: 89.5vh;
  width: 100%;
  overflow: hidden;
  background: #f5effc;
}
.fullpage__left {
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.fullpage__right {
  height: 100%;
  width: 50%;
}
.preview {
  height: 75%;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.4);
}

textarea {
  background: #fff;
  height: 25%;
  width: 100%;
  resize: none;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: hidden;
  margin-left: 40px;
  font-size: 16px;
}
textarea:focus,
input:focus {
  outline: none;
}
textarea::selection {
  background: transparent;
  color: #000;
}
.fullpage_colors {
  width: 90%;
  justify-content: flex-start !important;
}
.fullpage_colors h1 {
  margin-left: 10px;
  cursor: pointer;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #444;
}
.fullpage__bottom {
  width: 94%;
  margin-top: 5px;
  justify-content: space-between !important;
}
.fullpage__bottom .MuiButtonBase-root {
  text-transform: none !important;
  padding: 8px 15px;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2) !important;
  background: #fff;
}
.fullpage__btns .MuiSvgIcon-root {
  margin-left: 5px !important;
  margin-top: -2px !important;
}
.fullpage__bottom h3 {
  background: linear-gradient(0deg, #8557c6, #eb78f9);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.ghicon {
  color: #000;
  margin-right: 5px;
  margin-bottom: -5px !important;
}
.fullpage__bottom a:hover {
  border-bottom: 1.5px solid #8557c6 !important;
}
