.header {
  height: 55px;
  width: 100%;
  background: transparent;
  justify-content: space-between !important;
  padding: 5px 10px;
  background: linear-gradient(to left, #fff, #f5effc);
}
.header h1 {
  background: linear-gradient(0deg, #8557c6, #eb78f9);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}
.input {
  padding: 12px;
  background: #fff;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}
.rightBtns {
  justify-content: flex-end;
  margin-right: 30px;
}
.rightBtns .MuiButtonBase-root {
  margin: 1px 3px !important;
  padding: 10px !important;
}
