.profile {
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.3);
}
.profile h4 {
  background: linear-gradient(-45deg, #4776e6, #8e54e9);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-family: "Raleway", sans-serif !important;
}
.profile img {
  height: 42.5px;
  width: 42.5px;
  border-radius: 5px;
  margin-right: 7px;
  transition: 0.5s !important;
}
.profile .MuiButtonBase-root {
  font-size: 12px !important;
  text-transform: none !important;
}
.profile .MuiButtonBase-root:nth-child(2) {
  padding: 1px !important;
}
.profile:hover {
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.4);
}
