@media (max-width: 500px) {
  .header .rightBtns .search {
    display: none;
  }
  .addBtn {
    display: none !important;
  }
  .rightBtns {
    margin-right: 0;
  }
  .rightBtns .MuiButtonBase-root {
    margin: 2px !important;
    padding: 5px !important;
  }
  .rightBtns .MuiSvgIcon-root {
    font-size: 22px !important;
  }
  .header h1 {
    font-size: 1.5em;
  }
  .demoImage {
    width: 100% !important;
  }
  .fullpage {
    display: block !important;
  }
  .fullpage__left {
    width: 90%;
    height: 50%;
  }
  textarea {
    height: 70%;
  }
  .fullpage__bottom {
    width: 100%;
  }
  .fullpage__btns {
    margin-left: 20px;
    width: 100%;
  }
  .preview {
    width: 90%;
    height: 70%;
  }
  .fullpage__right {
    width: 100%;
    height: 50%;
  }
  .profile {
    padding: 1px 10px !important;
    display: block !important;
    margin-right: 15px;
  }
  .profile img {
    display: none;
  }
  .profile h4 {
    font-size: 15px;
  }
  .rotateBtn {
    display: none !important;
  }
  .rightBtns {
    width: 70%;
  }
}
