.savedGradients {
}

.savedGradients .title {
  padding: 15px 10px;
  text-align: center;
}

.no-gradients-saved {
  background: #fff;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.1);
  padding: 15px;
  margin: 10px;
  z-index: 1;
  transition: 0.5s !important;
  color: #000;
  border-radius: 5px;
  border: 1px solid #ccc;
}
